/**
 * @file
 * Views Styling
 */
/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
/* line 19, ../sass/views-styles.scss */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
/* line 25, ../sass/views-styles.scss */
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
/* line 30, ../sass/views-styles.scss */
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
/* line 32, ../sass/views-styles.scss */
.views-displays .secondary .open > a:hover {
  color: #333;
}
/* line 37, ../sass/views-styles.scss */
.views-displays .secondary .action-list li {
  margin: 0;
}
/* line 39, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
/* line 42, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

/*
 * Slideshow
*/
/* line 52, ../sass/views-styles.scss */
#block-views-slideshow-block {
  height: 300px;
}

/* line 57, ../sass/views-styles.scss */
.col-left {
  clear: left;
  float: left;
  height: auto;
  width: 300px;
}

/* line 64, ../sass/views-styles.scss */
.col-right {
  position: absolute;
  right: 0;
}

/* line 69, ../sass/views-styles.scss */
.views-slideshow-cycle-main-frame-row {
  width: 100%;
}

/* line 73, ../sass/views-styles.scss */
.views-view-grid {
  width: 100%;
}
/* line 76, ../sass/views-styles.scss */
.views-view-grid td {
  width: 25%;
}
/* line 79, ../sass/views-styles.scss */
.views-view-grid a {
  color: #3D8396;
}
/* line 82, ../sass/views-styles.scss */
.views-view-grid a:hover {
  color: #888;
}

/* line 87, ../sass/views-styles.scss */
.view-frontpage-solr-boxes .views-field-dctitle {
  margin: 0.25em 0;
  display: inline-block;
}
