/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/*
 * Center the page.
 */
/* line 48, ../../sass/layouts/responsive-sidebars.scss */
#page,
.region-bottom {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
/* line 66, ../../sass/layouts/responsive-sidebars.scss */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*
 * Containers for grid items and flow items.
 */
/* line 52, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
/* line 56, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:after,
#main:after,
#footer:after {
  clear: both;
}

/*
 * Navigation bar
 */
@media all and (min-width: 480px) {
  /* line 85, ../../sass/layouts/responsive-sidebars.scss */
  #main {
    padding-top: 1.1em;
    /* Move all the children of #main down to make room. */
    position: relative;
  }

  /* line 89, ../../sass/layouts/responsive-sidebars.scss */
  #navigation {
    position: absolute;
    top: 0;
    /* Move the navbar up inside #main's padding. */
    height: 1em;
    width: 100%;
  }
}
@media all and (min-width: 480px) and (max-width: 959px) {
  /*
   * Use 3 grid columns for smaller screens.
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
  /* line 108, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: left;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: -100%;
  }
  /* line 112, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  /* line 122, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #content {
    /* Span 2 columns, starting in 1st column from left. */
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -66.66667%;
    width: 73.333% !important;
  }
  /* line 127, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 3rd column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
    width: 25% !important;
    margin-left: 68.28% !important;
  }

  /*
   * The layout when there are two sidebars.
   */
  /* line 139, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: left;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: -100%;
  }
  /* line 143, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
  }
  /* line 147, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    /* Start a new row and span all 3 columns. */
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 0;
    padding-right: 0;
    clear: left;
  }
  /* line 152, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block {
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 155, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    /* Span 1 column, starting in the 1st column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    clear: left;
  }
  /* line 159, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    /* Span 1 column, starting in the 2nd column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 33.33333%;
    margin-right: -66.66667%;
  }
  /* line 162, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    /* Span 1 column, starting in the 3rd column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
  }
}
@media all and (min-width: 960px) {
  /*
   * Use 5 grid columns for larger screens.
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
  /* line 180, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    /* Span 4 columns, starting in 2nd column from left. */
    float: left;
    width: 80%;
    margin-left: 20%;
    margin-right: -100%;
    margin-left: 21% !important;
    width: 79% !important;
  }
  /* line 186, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
    margin-right: -21% !important;
    width: 21% !important;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  /* line 198, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #content {
    /* Span 4 columns, starting in 1st column from left. */
    float: left;
    width: 80%;
    margin-left: 0%;
    margin-right: -80%;
    width: 79% !important;
    margin-right: -79% !important;
  }
  /* line 204, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 5th column from left. */
    float: left;
    width: 20%;
    margin-left: 80%;
    margin-right: -100%;
  }

  /*
   * The layout when there are two sidebars.
   */
  /* line 214, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    /* Span 3 columns, starting in 2nd column from left. */
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-right: -80%;
  }
  /* line 218, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
  }
  /* line 222, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    /* Span 1 column, starting in 5th column from left. */
    float: left;
    width: 20%;
    margin-left: 80%;
    margin-right: -100%;
  }
}
@media all and (min-width: 1200px) {
  /* line 229, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-top-site-searches-block, #block-views-top-facet-searches-block, .block-google-analytics-reports, #block-views-frontpage-solr-boxes-block {
    width: 30%;
  }

  /* line 232, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-frontpage-solr-boxes-block-1 {
    width: 97.5% !important;
  }

  /* line 235, ../../sass/layouts/responsive-sidebars.scss */
  #block-islandora-solr-simple, .image-block-front, .submit-collection, .submit-collection-anon, .welcome {
    width: 60%;
  }

  /* line 239, ../../sass/layouts/responsive-sidebars.scss */
  .view-frontpage-solr-boxes .views-responsive-grid .views-row {
    padding: 20px 10px;
    margin-right: 2em;
  }

  /* line 244, ../../sass/layouts/responsive-sidebars.scss */
  #block-accordion-rotator-accordion-rotator {
    width: 65.3%;
  }

  /* line 247, ../../sass/layouts/responsive-sidebars.scss */
  .not-front #block-menu-menu-header-menu {
    top: 1.5em;
  }

  /* line 250, ../../sass/layouts/responsive-sidebars.scss */
  .not-logged-in #header {
    padding-top: 1em;
  }
}
@media all and (min-width: 1024px) and (max-width: 1199px) {
  /* line 256, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-top-site-searches-block, #block-views-top-facet-searches-block, .block-google-analytics-reports, #block-views-frontpage-solr-boxes-block {
    width: 29.55%;
  }

  /* line 259, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-frontpage-solr-boxes-block-1 {
    width: 97% !important;
  }

  /* line 262, ../../sass/layouts/responsive-sidebars.scss */
  #block-islandora-solr-simple, .image-block-front, .submit-collection, .submit-collection-anon, .welcome {
    width: 33%;
  }

  /* line 266, ../../sass/layouts/responsive-sidebars.scss */
  .view-frontpage-solr-boxes .views-responsive-grid .views-row {
    padding: 20px 10px;
    margin-right: 1em;
  }

  /* line 271, ../../sass/layouts/responsive-sidebars.scss */
  #block-accordion-rotator-accordion-rotator {
    width: 61.5%;
    margin-left: 1.5%;
  }

  /* line 275, ../../sass/layouts/responsive-sidebars.scss */
  .not-logged-in #header {
    padding-top: 1em;
  }
}
@media all and (min-width: 960px) and (max-width: 1023px) {
  /* line 281, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-top-site-searches-block, #block-views-top-facet-searches-block, .block-google-analytics-reports, #block-views-frontpage-solr-boxes-block-1, #block-views-frontpage-solr-boxes-block {
    width: 29.35%;
  }

  /* line 284, ../../sass/layouts/responsive-sidebars.scss */
  #block-islandora-solr-simple, .image-block-front, .submit-collection, .submit-collection-anon, .welcome {
    width: 33%;
  }

  /* line 287, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-frontpage-solr-boxes-block-1 {
    width: 96.7% !important;
  }

  /* line 290, ../../sass/layouts/responsive-sidebars.scss */
  #block-menu-menu-header-menu {
    float: none !important;
    line-height: 2em !important;
  }

  /* line 294, ../../sass/layouts/responsive-sidebars.scss */
  #header {
    margin-top: 2em;
  }

  /* line 297, ../../sass/layouts/responsive-sidebars.scss */
  #block-accordion-rotator-accordion-rotator {
    width: 61.5%;
    margin-left: 1.5%;
  }
}
@media all and (min-width: 800px) and (max-width: 959px) {
  /* line 304, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-top-site-searches-block, #block-views-top-facet-searches-block, .block-google-analytics-reports, #block-views-frontpage-solr-boxes-block-1, #block-views-frontpage-solr-boxes-block {
    width: 28.66%;
  }

  /* line 307, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-frontpage-solr-boxes-block-1 {
    width: 95.7% !important;
  }

  /* line 310, ../../sass/layouts/responsive-sidebars.scss */
  #block-islandora-solr-simple, .image-block-front, .welcome {
    float: left !important;
    width: 50%;
    min-width: 46% !important;
    margin-right: 3px;
  }

  /* line 316, ../../sass/layouts/responsive-sidebars.scss */
  .submit-collection, .submit-collection-anon {
    display: none;
  }

  /* line 319, ../../sass/layouts/responsive-sidebars.scss */
  .image-block-front {
    margin-right: 0 !important;
  }
  /* line 321, ../../sass/layouts/responsive-sidebars.scss */
  .image-block-front img {
    display: block;
    margin: 0 auto;
  }

  /* line 326, ../../sass/layouts/responsive-sidebars.scss */
  #block-menu-menu-header-menu {
    float: none !important;
    line-height: 2em !important;
  }

  /* line 330, ../../sass/layouts/responsive-sidebars.scss */
  #header {
    margin-top: 2em;
  }

  /* line 333, ../../sass/layouts/responsive-sidebars.scss */
  #block-accordion-rotator-accordion-rotator {
    width: 97.5%;
    margin-left: 1%;
  }
}
@media all and (min-width: 640px) and (max-width: 799px) {
  /* line 340, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-top-site-searches-block, #block-views-top-facet-searches-block, .block-google-analytics-reports, #block-views-frontpage-solr-boxes-block {
    width: 27.6% !important;
  }

  /* line 343, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-frontpage-solr-boxes-block-1 {
    width: 95.5% !important;
  }
  /* line 345, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-frontpage-solr-boxes-block-1 .views-row {
    max-width: 100% !important;
  }

  /* line 349, ../../sass/layouts/responsive-sidebars.scss */
  #block-islandora-solr-simple, .image-block-front, .welcome {
    float: left !important;
    width: 50%;
    max-width: 46% !important;
    margin-right: 3px !important;
  }

  /* line 355, ../../sass/layouts/responsive-sidebars.scss */
  .submit-collection, .submit-collection-anon {
    display: none;
  }

  /* line 358, ../../sass/layouts/responsive-sidebars.scss */
  .image-block-front {
    margin-right: 0 !important;
  }
  /* line 360, ../../sass/layouts/responsive-sidebars.scss */
  .image-block-front img {
    display: block;
    margin: 0 auto;
  }

  /* line 365, ../../sass/layouts/responsive-sidebars.scss */
  #block-menu-menu-header-menu {
    float: none !important;
    line-height: 2em !important;
    top: 5px;
  }

  /* line 370, ../../sass/layouts/responsive-sidebars.scss */
  #header {
    margin-top: 2em;
  }

  /* line 373, ../../sass/layouts/responsive-sidebars.scss */
  #block-accordion-rotator-accordion-rotator {
    width: 97.5%;
    margin-left: 1%;
  }
}
@media all and (min-width: 320px) and (max-width: 639px) {
  /* line 380, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-top-site-searches-block, #block-views-top-facet-searches-block, .block-google-analytics-reports, #block-views-frontpage-solr-boxes-block-1, #block-views-frontpage-solr-boxes-block {
    width: 95% !important;
    margin-bottom: 1em !important;
  }

  /* line 384, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-frontpage-solr-boxes-block-1 {
    width: 96%;
  }
  /* line 386, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-frontpage-solr-boxes-block-1 .views-row {
    max-width: 100% !important;
  }

  /* line 390, ../../sass/layouts/responsive-sidebars.scss */
  #block-islandora-solr-simple, .image-block-front, .welcome {
    float: left !important;
    width: 96%;
    max-width: 100% !important;
    margin-right: 10px;
  }

  /* line 396, ../../sass/layouts/responsive-sidebars.scss */
  .submit-collection, .submit-collection-anon {
    display: none;
  }

  /* line 399, ../../sass/layouts/responsive-sidebars.scss */
  .image-block-front {
    margin-right: 0 !important;
  }
  /* line 401, ../../sass/layouts/responsive-sidebars.scss */
  .image-block-front img {
    display: block;
    margin: 0 auto;
  }

  /* line 406, ../../sass/layouts/responsive-sidebars.scss */
  #block-menu-menu-header-menu {
    float: none !important;
    line-height: 2em !important;
  }

  /* line 410, ../../sass/layouts/responsive-sidebars.scss */
  #header {
    margin-top: 2em;
  }

  /* line 413, ../../sass/layouts/responsive-sidebars.scss */
  #block-accordion-rotator-accordion-rotator {
    width: 97.5%;
    margin-left: 1%;
  }
}
